# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnements virtuels
.env
.env.*
venv/
env/
ENV/
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/
.tox/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS / Linux
.DS_Store
*.swp

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Git
.git/

# Migrations (optionnel - à ignorer si générées automatiquement et recréées ailleurs)
**/migrations/*.py
!**/migrations/__init__.py
